@media (prefers-color-scheme: dark) {
    body {
      --wp--preset--color--primary: #8ad0ef;
      --wp--preset--color--on-primary: #003546;
      --wp--preset--color--primary-container: #004d64;
    //   --wp--preset--color--primary-container-fixed: #bce9ffff;
      --wp--preset--color--on-primary-container: #bce9ff;
    //   --wp--preset--color--on-primary-container-fixed: #001f2aff;
      --wp--preset--color--secondary: #FFB0C9;
      --wp--preset--color--on-secondary: #541D33;
      --wp--preset--color--secondary-container: #6F3349;
      --wp--preset--color--on-secondary-container: #FFD9E3;
      --wp--preset--color--tertiary: #d1bcfd;
      --wp--preset--color--on-tertiary: #4e3d75;
      --wp--preset--color--tertiary-container: #4e3d75;
      --wp--preset--color--on-tertiary-container: #eaddff;
      --wp--preset--color--error: #ffb4ab;
      --wp--preset--color--on-error: #690005;
      --wp--preset--color--error-container: #93000a;
      --wp--preset--color--on-error-container: #ffdad6;
      --wp--preset--color--background: #0f1417;
      --wp--preset--color--on-background: #dfe3e6;
      --wp--preset--color--surface: #0f1417;
    //   --wp--preset--color--surface-fixed: #f6fafdff;
      --wp--preset--color--on-surface: #dfe3e6;
      --wp--preset--color--surface-variant: #40484c;
      --wp--preset--color--on-surface-variant: #c0c8cd;
      --wp--preset--color--outline: #8a9297;
      --wp--preset--color--outline-variant: #40484c;
      --wp--preset--color--inverse-surface: #dfe3e6;
      --wp--preset--color--inverse-on-surface: #2c3134;
      --wp--preset--color--inverse-primary: #106682;
      --wp--preset--color--surface-disabled: #191C1E12;
      --wp--preset--color--on-surface-disabled: #191C1E38;
      --wp--preset--color--backdrop: #2A323540;
    }
  }
